<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uneed">
    <!-- this is the internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:name=".structures.GlobalData"
        android:allowBackup="true"
        android:icon="@drawable/defaulticon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/defaulticon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MessageBox"></activity>
        <activity android:name=".SortActivity" />
        <activity android:name=".FilterActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".structures.LoginActivity" />
        <activity android:name=".structures.SignUpActivity" />
        <activity android:name=".addItemActivity" />
        <activity android:name=".ItemViewActivity" />
        <activity android:name=".MessageActivity" />
        <activity
            android:name=".MarketActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".HomePage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>